.cart input {
  display: block;
  width: 100px;
  height: 30px;
  /* border: none;   */
}
.cart_table {
  width: 100%;
}
.card_cart {
  width: 100%;
}
.cart .cart_image {
  width: 100px;
}
tr,
td,
th {
  /* box-sizing: border-box; */
  width: 20%;
  border: 1px solid red;
  text-align: center;
  padding: 5px 10px;
}
