.login {
  width: 100%;
  min-height: 95vh;
  background: url('https://img.freepik.com/free-vector/restaurant-mural-wallpaper_23-2148702443.jpg?size=626&ext=jpg');
  display: flex;
  opacity: 0.8;
}
.loginContainer {
  background: url('https://images.pexels.com/photos/3887985/pexels-photo-3887985.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  padding: 60px;
  margin: auto;
  min-width: 380px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid whitesmoke;
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  opacity: 1;
}
.authButton {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: black;
  font-size: 16px;
  letter-spacing: 1px;
  background: greenyellow;
  cursor: pointer;
}
.authLabel {
  margin: 14px 0;
  display: flex;
  justify-content: center;
  font-size: 22px;
  line-height: 1;
  color: greenyellow;
  font-weight: 700;
}
.authInput {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  letter-spacing: 1px;
}
.btnContainer {
  width: 100%;
  padding: 24px 0;
}
.authP {
  margin: 25px 0 0 0;
  text-align: center;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.authSpan {
  color: white;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  font-weight: bold;
}
.errorMsg {
  color: red;
  font-size: 16px;
  font-weight: 700;
}
